

<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>Stupid Coaching</h1>
        <h2>What are you doing now?</h2>  
          <form action="answer">
            <input type="text" name="question">
            <input type="submit" value=Submit>
          </form>
    </div>
  </body>
</html>

